<!DOCTYPE html>
<html lang="pt_br"> <!-- lang é um atributo -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BotaniCare | Regador automático</title>

    <link rel="stylesheet" href="/site/public/styles/main.css">
    <link rel="stylesheet" href="/site/public/styles/partials/header.css">
    <link rel="stylesheet" href="/site/public/styles/partials/page-give-classes.css">
    <link rel="stylesheet" href="/site/public/styles/partials/forms.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <script src="/scripts/addField.js" defer></script>
</head>
<body id="page-give-classes">

    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/site/src/views/">
                    <img src="/site/public/images/icons/back.svg" alt="Voltar">
                </a>
                <img src="/site/public/images/botanicare.png" alt="Proffy">
            </div>

            <div class="header-content">
                <strong>Cadastro de plantas</strong>
                <p>Adicione informações para que o sistema funcione de forma específica para a sua planta</p>
            </div>

        </header>

        <main>
            <form action="/save-classes" id="create-class" method="POST">
                <fieldset>

                    <legend>Dados da planta</legend>

                    <div class="input-block">
                        <label for="name">Nome da planta</label>
                        <input name="name" id="name" required>
                    </div>

                    <div class="input-block">
                        <label for="avatar">Link da foto <small>(comece com https://) / (opcional)</small></label>
                        <input name="avatar" id="avatar" type="url" required>
                    </div>

                    <div class="input-block">
                        <label for="whatsapp">Porcentagem ideal para a umidade do solo <small>(somente números)</small></label>
                        <input name="whatsapp" id="whatsapp" type="number" required>
                    </div>

                    <div class="textarea-block">
                        <label for="bio">Intencidade e tempo indeal para a planta receber luz:</label>
                        <br>
                        <label for="bio">Tempo em horas<small>(somente números)</small>:</label>
                        <input name="bio" id="bio" required>
                    </div>

                    <div class="select-block">
                        <label for="subject">Intencidade:</label>
                        <select name="subject" id="subject" required>
                            <option value="">Selecione uma opção</option>
                            <option value="1">Luz direta</option>
                            <option value="2">Luz indireta</option>
                            <option value="3">Sem luz</option>
                        </select>
                    </div>
            </form>

            <br>
            <br>
            
            <footer>
                <p>
                    <img src="/site/public/images/icons/warning.svg" alt="Aviso importante">
                    Importante! <br>
                    Preencha todos os dados
                </p>
                <button type="submit" form="create-class">Salvar cadastro</button>
            </footer>
        </main>
    </div>

</body>
</html>
