<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#04D361">

    <title>BotaniCare | Regador automático</title>

    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    <link rel="stylesheet" href="/site/public/styles/main.css">
    <link rel="stylesheet" href="/site/public/styles/partials/page-landing.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

</head>
<body id="page-landing">

    <div id="container">
        <div class="logo-container">
            <img id="botanicare" src="/site/public/images/botanicare.png" alt="Proffy">
            <h2>Cuidados que as plantas precisam</h2>
        </div>

        <img class="hero-image" src="/site/public/images/logo.png" alt="">

        <div class="buttons-container">
            <a class="study"href="/site/src/views/give-classes.html">
                <img src="/site/public/images/icons/study.svg" alt="Estudar">
                Cadastrar planta
            </a>
            <a class="give-classes"href="/site/src/views/study.html">
                <img src="/site/public/images/icons/give-classes.svg" alt="Dar aulas">
                Iniciar sistema
            </a>

        </div>

        <p class="total-connections">Banco de dados ativo
        </p>

    </div>

</body>
</html>
