<!DOCTYPE html>
<html lang="pt_br"> <!-- lang é um atributo -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BotaniCare | Regador automático</title>

    <link rel="stylesheet" href="/site/public/styles/main.css">
    <link rel="stylesheet" href="/site/public/styles/partials/header.css">
    <link rel="stylesheet" href="/site/public/styles/partials/page-study.css">
    <link rel="stylesheet" href="/site/public/styles/partials/forms.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

</head>
<body id="page-study">

    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/site/src/views/">
                <img src="/site/public/images/icons/back.svg" alt="Voltar">
                </a>
                <img src="/site/public/images/botanicare.png" alt="BotaniCare">
            </div>

            <div class="header-content">
                <strong>
                    Escolha uma planta e deixe 
                    o sistema cuidar da planta 
                    por você
                </strong>
                <form id="search-teachers">
                    <div class="select-block">
                        <label for="subject" id="subject">Plantas</label>
                        <select name="subject" id="subject">
                            <option value="" disabled="" hidden="">Selecione uma opção</option>

                            {%for subject in subjects %}
                                <option value="{{loop.index}}" {{ "selected" if filters.subject == loop.index}}>
                                    {{subject}}
                                </option>
                            {%endfor%}

                        </select>
                    </div>
                    
                    <button type="submit">Iniciar</button>
                </form>
            </div>
        </header>

        <main>

            {% if proffys == "" %}
                <p class="no-result">Nenhuma planta selecionada</p>

            {% else %}
                {%for proffy in proffys %}
                    <article class="teacher-item">
                    <header>
                        <img
                            src="{{proffy.avatar}}"
                            alt="{{proffy.name}}">
                        <div>
                            <strong>{{proffy.name}}</strong>
                            <span>{{proffy.subject}}</span>
                        </div>
                    </header>
            <div class="informacoes">
                <img src="/site/public/images/umidade.png" alt="umidade">
                <p>Umidade: {{proffy.umidade}}%</p>
                <img src="/site/public/images/luz.png" alt="luminosidade">
                <p>Luminosidade: {{proffy.luminosidade}}%</p>
            </div>

            <br>

        </main>
    </div>

</body>
</html>
